[Unit]
Description=Regenerate pond user updates chart every minute on jwpc19

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=pond-user-chart.service

[Install]
WantedBy=timers.target
